/* src: https://github.com/web-tiki/responsive-grid-of-colonyagons/blob/master/index.html */

.colonies {
    z-index: 1;
    margin-top: 5%;
    position: absolute;
    width: 100%;
    resize: both;
}

#colonyGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin: 0 auto;
    list-style-type: none;
    resize: inherit;
    max-width: 100%;
}
  
.colony {
    position: relative;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.colony::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.colonyRhombus{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin:0 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.colonyRhombus * {
    position: absolute;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.colonyRectangle {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}


/* colonies */
.colony c { 
    width: 7.5%;
    height: 5%;

}
.roofR {
    top: -50%;
    left: 50%;
    background-image: linear-gradient(to right top, currentColor 0%, currentColor 50%, transparent 50%);
    position: absolute;
    width: 75%;
    height: 75%;
    visibility: inherit;
}
.roofL {
    top: -50%;
    left: -23%;
    background-image: linear-gradient(to left top, currentColor 0%, currentColor 50%, transparent 50%);
    position: absolute;
    width: 75%;
    height: 75%;
    visibility: inherit;
}

.colony_a {
    top: 9%;
    left: 46.5%;
    visibility: inherit;
}
.colony_b {
    top: 26%;
    left: 81%;
    visibility: inherit;
}
.colony_c {
    top: 61%;
    left: 81%;
    visibility: inherit;
}
.colony_d {
    top: 78%;
    left: 46.5%;
    visibility: inherit;
}
.colony_e {
    top: 61%;
    left: 11.75%;
    visibility: inherit;
}
.colony_f {
    top: 26%;
    left: 11.75%;
    visibility: inherit;
}

/*colony ids*/
#colony1 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony2 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony3 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony4 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony5 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony6 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony7 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony8 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony9 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony10 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony11 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony12 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony13 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony14 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony15 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony16 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony17 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony18 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony19 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony20 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony21 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony22 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony23 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony24 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony25 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony26 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony27 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony28 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony29 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony30 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony31 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony32 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony33 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony34 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony35 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony36 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony37 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony38 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony39 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony40 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony41 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony42 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony43 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony44 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony45 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony46 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony47 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony48 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony49 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony50 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony51 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony52 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony53 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony54 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony55 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony56 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony57 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony58 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}
#colony59 {
    --custom-color: white; /*player color*/
    background: var(--custom-color);
    color: var(--custom-color);
    visibility: hidden; /*toggle: if user place*/
}


/*** HEX7AGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:0px) { /* <- 5-4  colonyagons per row */
    #colonyGrid{
        width: 100vh;
        height: 85%;
        padding-bottom: 20%;
    }
    .colony {
        width: 15%;
        transform: scale(1.50);
    }
    .colony:nth-child(1) { /* row 1 */
        margin-left:25%;  /* indent = width * 1.667 */
    }
    .colony:nth-child(4) { /* row 2 */
        margin-left:17.5%;  /* = indent: width * 1.1667 */
    }
    .colony:nth-child(8) { /* row 3 */
        margin-left:10%;  /* = indent: width * 0.667 */
    }
    .colony:nth-child(13) { /* row 4 */
        margin-left:17.5%; /* = indent: width * 1.1667 */
    }
    .colony:nth-child(17){ /* row 5*/
        margin-left:25%;  /* indent = width * 1.667 */
    }
}