/* src: https://github.com/web-tiki/responsive-grid-of-colony_buttonagons/blob/master/hexagons.css */

.colony_buttons {
    z-index: 3;
    margin-top: 5%;
    position: absolute;
    width: 100%;
    resize: both;
}

#colony_buttonGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin: 0 auto;
    list-style-type: none;
    resize: inherit;
    max-width: 100%;
}
  
.colony_button {
    position: relative;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    opacity: 0.5;
}
.colony_button::after{
    content:'';
    display:flex;
    padding-bottom: 86.602%;
}
.colony_buttonRhombus{
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.colony_buttonRhombus * {
    position: absolute;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}


/* colony_buttons */
.colony_button_click {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    visibility: hidden;
}

button {
    font-size: 0.4vw;
}
.colony_button rd_b {
    width: 10%;
    height: 12%;
    z-index: inherit;
}

.colony_button_a {
    top: -8%;
    left: 45%;
    z-index: inherit;
}
.colony_button_b {
    top: 24%;
    left: 96%;
    z-index: inherit;
}
.colony_button_c {
    top: 90%;
    left: 96%;
    z-index: inherit;
}
.colony_button_d {
    top: 122%;
    left: 45.5%;
    z-index: inherit;
}
.colony_button_e {
    top: 90%;
    left: -5%;
    z-index: inherit;
}
.colony_button_f {
    top: 23%;
    left: -4%;
    z-index: inherit;
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:0px) { /* <- 5-4  colony_buttonagons per row */
    #colony_buttonGrid{
        width: 100vh;
        height: 85%;
        padding-bottom: 20%;
    }
    .colony_button {
        width: 15%;
        /* transform: scale(1.50); */
    }
    .colony_button:nth-child(1) { /* row 1 */
        margin-left:25%;  /* indent = width * 1.667 */
    }
    .colony_button:nth-child(4) { /* row 2 */
        margin-left:17.5%;  /* = indent: width * 1.1667 */
    }
    .colony_button:nth-child(8) { /* row 3 */
        margin-left:10%;  /* = indent: width * 0.667 */
    }
    .colony_button:nth-child(13) { /* row 4 */
        margin-left:17.5%; /* = indent: width * 1.1667 */
    }
    .colony_button:nth-child(17){ /* row 5*/
        margin-left:25%;  /* indent = width * 1.667 */
    }
}