/* src: https://github.com/web-tiki/responsive-grid-of-pieceagons/blob/master/index.html */

* {
    margin: 0%;
    padding: 0;
}

.pieces {
    position: absolute;
    width: 100%;
    z-index: 1;
    resize: both;
}

#pieceGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    overflow: hidden;
    list-style-type: none;
    resize: inherit;
}
  
.piece {
    position: relative;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.piece::after{
    content:'';
    display:block;
    padding-bottom: 100%;  /* =  100 / tan(60) * 1.5 */
  }
.road_diag_up{
    position: absolute;
    width: 5%;
    height: 100%;
    visibility: visible;
    display: block;
    overflow: hidden;
    top: -25%;
    left: 47.5%;
    transform: rotate(60deg); 
    background: rgb(0, 0, 0);
}
.road_diag_down{
    position: absolute;
    width: 5%;
    height: 100%;
    visibility: visible;
    display: block;
    overflow: hidden;
    top: -25%;
    left: 47.5%;
    transform: rotate(-60deg); 
    background: rgb(0, 0, 0);
}
.road_vert{
    position: absolute;
    width: 5%;
    height: 100%;
    visibility: visible;
    top: -35%;
    left: 47.5%;
    background: rgb(0, 0, 0);
}

/*
.piece settlement { 
    width: 7.5%;
    height: 5%;
    --custom-color: rgb(255, 255, 255);
    background: var(--custom-color);
    color: var(--custom-color);
}
.roofR {
    top: -50%;
    left: 50%;
    background-image: linear-gradient(to right top, currentColor 0%, currentColor 50%, transparent 50%);
    position: absolute;
    width: 75%;
    height: 75%;
    
}
.roofL {
    top: -50%;
    left: -23%;
    background-image: linear-gradient(to left top, currentColor 0%, currentColor 50%, transparent 50%);
    position: absolute;
    width: 75%;
    height: 75%;
    
}

} */

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:0px) { /* <- 5-4  pieceagons per row */
    #pieceGrid{
        height: 85%;
        padding-bottom: 20%;
    }
    .piece {
        width: 7.5%;
    }
    .piece:nth-child(1) {
        margin-left:25%;
    }
    .piece:nth-child(8) {
        margin-top: 5.5%;
        margin-left:25%;  
    }
    /* .piece:nth-child(13) { 
        margin-left:17.5%;
    }
    .piece:nth-child(17){
        margin-left:25%;
    } */
}