.player_menu {
    z-index: 100;
    position: absolute;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(5, [col] auto ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: gray;
    border-radius: 5%;
    font-size: 1.25vw;
}
#player_window {
    width: 15%;
    height: 40%;
    resize: both;
}
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5%;
    padding: 2%;
}

.box .box {
    background-color: #ccc;
    color: #444;
}

/* player information */
.player_info {
    grid-column: col / span 5;
    grid-row: row;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: inherit;
}
.player_info_name {
    grid-column: 1;
    grid-row: 1;
    font-size: inherit;
}
.player_info_name_field {
    grid-column: 2;
    grid-row: 1;
    font-size: inherit;
}
.player_info_color {
    grid-column: 1;
    grid-row: 2;
    font-size: inherit;
}
.player_info_color_field {
    grid-column: 2;
    grid-row: 2;
    font-size: inherit;
}
.player_info_submit {
    grid-column: 1 / 3;
    grid-row: 3;
    font-size: inherit;
}

/* player hand information */
.player_hand {
    grid-column: col / span 5;
    grid-row: row 2;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: inherit;
}
.player_hand_title {
    grid-column: 1 / 6;
    grid-row: 1;
    font-size: inherit;
}
.player_hand_wood {
    grid-column: 1;
    grid-row: 2;
    font-size: 0.75vw;
}
.player_hand_brick {
    grid-column: 2;
    grid-row: 2;
    font-size: 0.75vw;
}
.player_hand_wheat {
    grid-column: 3;
    grid-row: 2;
    font-size: 0.75vw;
}
.player_hand_sheep {
    grid-column: 4;
    grid-row: 2;
    font-size: 0.75vw;
}
.player_hand_ore {
    grid-column: 5;
    grid-row: 2;
    font-size: 0.75vw;
}

.player_roads {
    grid-column: 1;
    grid-row: 3;
    font-size: 0.75vw;
}
.player_colonies {
    grid-column: 2 / 4;
    grid-row: 3;
    font-size: 0.75vw;
}
.player_cities {
    grid-column: 4 / 6;
    grid-row: 3;
    font-size: 0.75vw;
}

/* game controls */
.game_controls {
    grid-column: col / span 5;
    grid-row: row 3;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: inherit;
}
.gc_build_road {
    grid-column: 1;
    grid-row: 1;
    font-size:inherit;
}
.gc_build_colony {
    grid-column: 2;
    grid-row: 1;
    font-size:inherit;
}
.gc_roll_dice {
    grid-column: 1 / 3;
    grid-row: 2;
    font-size:inherit;
}
.gc_finish_turn {
    grid-column: 1 / 3;
    grid-row: 3;
    font-size:inherit;
}

.player_text_field {
    position: relative;
    width: 100%;
    height: 75%;
    font-size: 1.25vw;
}
