/* src: https://github.com/web-tiki/responsive-grid-of-roadagons/blob/master/index.html */

* {
    margin: 0%;
    padding: 0;
}

.roads {
    margin-top: 5%;
    position: absolute;
    width: 100%;
    z-index: 1;
    resize: both;
}

#roadGrid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin: 0 auto;
    /* overflow: hidden; */
    list-style-type: none;
    resize: inherit;
}
  
.road {
    position: relative;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.road::after{
    content:'';
    display:block;
    padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.roadRhombus{
    position: absolute;
    width:96%;
    padding-bottom: 110.851%; /* =  width / sin(60) */
    margin:0 2%;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
            transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.roadRhombus * {
position: absolute;
visibility: hidden;
outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.roadRectangle {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}


/* roads */
.road rd {
    width: 2%;
    height: 22.5%;
}
.road_top_right {
    top: 8.5%;
    left: 66%;
    transform: rotate(-60deg) scale(0.9); 
}
.road_right {
    top: 35%;
    left: 84%;
}
.road_bottom_right {
    top: 61%;
    left: 67%;
    transform: rotate(60deg) scale(0.9);
}
.road_bottom_left {
    top: 61%;
    left: 32%;
    transform: rotate(-60deg) scale(0.9);
}
.road_left {
    top: 35%;
    left: 14.65%;
}
.road_top_left {
    top: 9%;
    left: 32.5%;
    transform: rotate(60deg) scale(0.9);
}

#road1 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road2 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road3 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road4 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road5 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road6 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road7 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road8 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road9 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road10 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road11 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road12 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road13 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road14 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road15 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road16 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road17 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road18 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road19 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road20 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road21 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road22 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road23 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road24 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road25 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road26 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road27 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road28 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road29 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road30 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road31 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road32 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road33 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road34 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road35 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road36 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road37 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road38 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road39 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road40 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road41 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road42 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road43 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road44 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road45 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road46 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road47 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road48 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road49 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road50 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road51 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road52 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road53 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road54 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road55 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road56 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road57 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road58 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road59 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road60 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road61 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road62 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road63 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road64 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road65 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road66 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road67 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road68 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road69 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road70 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road71 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}
#road72 {
    background: rgb(0, 0, 0);
    visibility: hidden;
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:0px) { /* <- 5-4  roadagons per row */
    #roadGrid{
        height: 85%;
        padding-bottom: 20%;
    }
    .road {
        width: 15%;
        transform: scale(1.50);
    }
    .road:nth-child(1) { /* row 1 */
        margin-left:25%;  /* indent = width * 1.667 */
    }
    .road:nth-child(4) { /* row 2 */
        margin-left:17.5%;  /* = indent: width * 1.1667 */
    }
    .road:nth-child(8) { /* row 3 */
        margin-left:10%;  /* = indent: width * 0.667 */
    }
    .road:nth-child(13) { /* row 4 */
        margin-left:17.5%; /* = indent: width * 1.1667 */
    }
    .road:nth-child(17){ /* row 5*/
        margin-left:25%;  /* indent = width * 1.667 */
    }
}