.scoreboard_menu {
    z-index: 100;
    position: absolute;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(4, [col] auto ) ;
    grid-template-rows: repeat(5, [row] auto  );
    background-color: gray;
    border-radius: 5%;
    font-size: 1.25vw;
    left: 87.5%;
}
#scoreboard_window {
    width: 12.5%;
    height: 35%;
    resize: both;
}
.scoreboard_text_field {
    position: relative;
    width: 100%;
    height: 75%;
    font-size: 1.25vw;
}

.player1 {
    grid-column: col / span 4;
    grid-row: row 1;
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: inherit;
}
.player2 {
    grid-column: col / span 4;
    grid-row: row 2;
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: inherit;
}
.player3 {
    grid-column: col / span 4;
    grid-row: row 3;
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: inherit;
}
.player4 {
    grid-column: col / span 4;
    grid-row: row 4;
    display: grid;
    grid-gap: 4%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: inherit;
}
/* name */
.player_scoreboard_name {
    grid-column: 1;
    grid-row: 1;
    font-size:inherit;
}
/* color */
.player_scoreboard_color{
    grid-column: 2;
    grid-row: 1;
    font-size:inherit;
}
/* number of cards */
.player_scoreboard_num_cards {
    grid-column: 1;
    grid-row: 2;
    font-size:inherit;
}
/* score */
.player_scoreboard_score{
    grid-column: 2;
    grid-row: 2;
    font-size:inherit;
}

/* whose turn is it and what was last dice roll */
.turn_info {
    grid-column: col / span 4;
    grid-row: row 5;
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: inherit;
}
/* turn */
.turn_info_turn{
    grid-column: 1;
    grid-row: 1;
    font-size:inherit;
}
/* last dice roll */
.turn_info_dice {
    grid-column: 2;
    grid-row: 1;
    font-size:inherit;
}