/* define hexagon and sub objects*/
.hexagon {
    position: fixed;
    z-index: -1;
    right: 0;
    width: 300px; 
    height: 173.21px;
    margin: 86.60px 0;
    background-size: auto 346.4102px;
    background-position: center;
    transform: scale(0.75)
}

.hexTop,
.hexBottom {
    position: inherit;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 43.93px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
    content: "";
    position: inherit;
    width: 300.0000px;
    height: 173.20508075688775px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.hexTop {
    top: -106.0660px;
}

.hexTop:after {
    background-position: center top;
}

.hexBottom {
    bottom: -106.0660px;
}

.hexBottom:after {
    background-position: center bottom;
}

.hexagon:after {
    content: "";
    position: inherit;
    top: 0.0000px;
    left: 0;
    width: 300.0000px;
    height: 173.2051px;
    z-index: 2;
    background: inherit;
}

/*circle for numbers*/
.circle {
    position: relative;
    z-index: 3;
    margin: auto;
    width: 25%;
    height: 42%;
    font-size: 300%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: #000
}


/* define specific tiles */
/* line 1 */
#tile1.hexagon {
    top: 100px;
    left: 400px;
    background-image: url("../images/wheat.jpg");
}
#tile2.hexagon {
    top: 100px;
    left: 640px;
    background-image: url("../images/wheat.jpg");
}
#tile3.hexagon {
    top: 100px;
    left: 880px;
    background-image: url("../images/wheat.jpg");
}

/* line 2 */
#tile4.hexagon {
    top: 305px;
    left: 280px;
    background-image: url("../images/wheat.jpg");
}
#tile5.hexagon {
    top: 305px;
    left: 520px;
    background-image: url("../images/sheep.jpg");
}
#tile6.hexagon {
    top: 305px;
    left: 760px;
    background-image: url("../images/sheep.jpg");
}
#tile7.hexagon {
    top: 305px;
    left: 1000px;
    background-image: url("../images/sheep.jpg");
}

/* line 3 */
#tile8.hexagon {
    top: 510px;
    left: 160px;
    background-image: url("../images/sheep.jpg");
}
#tile9.hexagon {
    top: 510px;
    left: 400px;
    background-image: url("../images/ore.jpg");
}
#tile10.hexagon {
    top: 510px;
    left: 640px;
    background-image: url("../images/ore.jpg");
}
#tile11.hexagon {
    top: 510px;
    left: 880px;
    background-image: url("../images/ore.jpg");
}
#tile12.hexagon {
    top: 510px;
    left: 1120px;
    background-image: url("../images/brick.jpeg");
}

/* line 4 */
#tile13.hexagon {
    top: 715px;
    left: 280px;
    background-image: url("../images/brick.jpeg");
}
#tile14.hexagon {
    top: 715px;
    left: 520px;
    background-image: url("../images/brick.jpeg");
}
#tile15.hexagon {
    top: 715px;
    left: 760px;
    background-image: url("../images/wood.jpeg");
}
#tile16.hexagon {
    top: 715px;
    left: 1000px;
    background-image: url("../images/wood.jpeg");
}

/* line 5 */
#tile17.hexagon {
    
    top: 920px;
    left: 400px;
    background-image: url("../images/wood.jpeg");
}
#tile18.hexagon {
    
    top: 920px;
    left: 640px;
    background-image: url("../images/wood.jpeg");
}
#tile19.hexagon {
    
    top: 920px;
    left: 880px;
    background-image: url("../images/desert.jpeg");
}